body {
    margin: 0;
    padding: 0;
  }
  
  footer {

    background-color: #ceced1;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    border-radius: 15px;
    height: 300px;
  }
  
  .contact-info,
  .about-greenhouse {
    margin-top: 80px;
    
    color: #333;
  }
  
  .about-greenhouse, .contact-info{
    padding-right: 60px;
    color: #333;
  }

  .logo {
    flex: 1 1 200px;
    margin: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-top: 80px;
  }
  
  .logo img {
    max-width: 100%;
    margin-top: -90px;
    margin-right: 50px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
  }
  /* Add the icon animation styles */

.social-icons img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icons a:hover img {
  background-color: #ccc;
  transform: scale(1.1);
}

.social-icons-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 100px;
}

.social-icons {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.social-icons a {
  text-decoration: none;
  color: #333;
}

  .served {
    margin-right: -40px;
    margin-top: 270px;
    color: #333;
  }